<section class="pa-create">
    <div class="fieldset">
        <h2>Patient Information</h2>
        <div class="info">
            <div>
                <label>First Name
                    <input type="text" name="first_name" placeholder="Johnny">
                </label>
            </div>
            <div>
                <label>Middle Name
                    <input type="text" name="middle_name">
                </label>
            </div>
            <div>
                <label>Last Name
                    <input type="text" name="last_name" placeholder="Appleseed">
                </label>
            </div>
            <div>
                <label>Date of Birth
                    <input type="text" name="date_of_birth" placeholder="12/12/2012">
                </label>
            </div>
        </div>
        <div class="address">
            <div>
                <label>Street 1
                    <input type="text" name="street_1">
                </label>
            </div>
            <div>
                <label>Street 2
                    <input type="text" name="street_2">
                </label>
            </div>
            <div>
                <label>City
                    <input type="text" name="city">
                </label>
            </div>
            <div>
                <label>State
                    <input type="text" name="state">
                </label>
            </div>
            <div>
                <label>Zip
                    <input type="text" name="zip">
                </label>
            </div>
        </div>
    </div>
    <div class="fieldset">
        <h2>Drug Information</h2>
        <div class="info">
            <div>
                <label>Search for Drug
                    <input type="text" name="full_name" class="search-drug" placeholder="Type at least 4 character to search">
                    <input type="hidden" name="drug_id">
                </label>
            </div>
        </div>
        <div class="address">
            <div>
                <button class="button create-epa">Create ePA</button>
            </div>
        </div>
    </div>
</section>